@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wdth,wght@0,125,100..900;1,125,100..900&display=swap');
.blur-text {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 125;
}